@using UANodesetWebViewer.Models
@using UANodesetWebViewer.Pages

@model OpcSessionModel

@{
    ViewData["Title"] = "Browsing Nodeset File(s)";
}

<h1>@ViewData["Title"]</h1>

<p>
    <component>@(await Html.RenderComponentAsync<UABrowser>(RenderMode.Server, new { EndpointUrl = Model.EndpointUrl, Username = Model.UserName, Password = Model.Password }).ConfigureAwait(false))</component>
</p>

<div class="row browser_browse_disconnect_button">
    @using (Html.BeginForm("Disconnect", "Browser"))
    {
        <input id="disconnectButton" class="btn btn-primary btn_browser" type="submit" value="Close" />
    }
</div>

